h1{font-family: fantasy; font-size: 20px; color: #000000; text-align: center;}
h2{font-family: fantasy; font-size: 16px; color: #003399; text-align: center;}
p{font-family: fantasy; font-size: 12px; color: #000000; width: 700px; text-align: center; margin-left: 50px;}

img {margin-left: 50px;}

